/* Primary Cuteness */
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

/*colors
(236,122,122,1)=mediumpink
(79,154,219,1)=mediumblue */

/*Cute Header*/
header {
  background-color: white;
  border: 10px solid transparent;
  border-image: url(images/border.png) 20 round;
}

/*Cute Body*/
body {
  /* background-image: url(images/background.png); */
  background-position: fill;
  background-color: rgba(236, 122, 122, 1);
  color: white;
  font-family: 'Cormorant Upright', serif;
  font-size: 20px;
}

header h1 {
  color: rgba(236, 122, 122, 1);
}

/* Cute Headings */
h1, h2 {
  color: white;
  font-weight: normal;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

header h1 {
  font-weight: bold;
  text-align: center;
}

header h2 {
  text-align: center;
}

/*Cute Paragraphs*/
p {
  color: white;
  font-size: 24px;
  margin: 0 auto;
}

/*Cute Lists*/
ul, ol {
  margin: 30px 0;
}

li {
  font-size: 20px;
  padding: 10px;
}

/* Cute Anchors */
a {
  text-decoration: none;
  color: white;
}

a:link,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: rgba(79, 154, 219, 1);
}

/* a:visited {
  text-decoration: none;
  color:black;
} */

/*Cute Images*/
img {
  height: 300px;
}

/*Cute Sections*/

section {
  margin: 20px;
  clear: both;
}

header,
section,
footer {
  padding: 30px 0;
  /* border: 5px solid rgba(79, 154, 219, 1); */
}

nav {
  background-color: rgba(79, 154, 219, 1);
}

nav li{
  display: inline-block;
}


/*Cute Classes*/
.title,
.title2,
.title3 {
  font-size: 48px;
  text-decoration: underline;
}

.title2,
.title3 {
  width: 100%;
  color: rgba(79,154,219,1);
  text-align: right;
}

.title3 {
  text-align: left;
}

.container {
  max-width:1000px;
  margin: 0 auto;
}

.cuteh2 {
  font-weight: bold;
  font-size: 36px;
  margin: 75px;
  color: rgba(79, 154, 219, 1);
}

.cutep1 {
  color:rgba(79,154,219,1);
}

.linked {
  color: rgba(236, 122, 122, 1);
}

.banner {
  height: 350px;
  background-image: url(images/bros.jpg);
  background-size: cover;
}

.float1{
  float: right;
  width: 50%;
  padding: 10px;
}

.float2{
  float: left;
  width: 50%;
  padding: 10px;
}

.quicklinks {
  margin: 100px left;
  background-image: url(images/fastpup.jpg);
  background-size: contain;
  background-position: 0 auto;
  background-repeat: no-repeat;
}

.heading2 {
  text-align: right;
}

.paragraph {
  font-size: 20px;
  margin: 20px;
  text-align: left;
}

.paragraphs {
  padding: 20px 0;
}

.paragraph-one {
  margin: 20px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.section1 {
  text-align: center;
}

.selected {
  background-color: white;
}
.selected a {
  color: rgba(79, 154, 219, 1);
}

.selected1 a:hover {
  color: rgba(236, 122, 122, 1);
}

/*Cute Footer*/
footer {
  background-color: white;
  border: 10px solid transparent;
  border-image: url(images/border.png) 20 round;
}

footer p {
  margin: 10px;
  font-size: 20px;
}


/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat920.cur), auto !important;} /* End http://www.cursors-4u.com */
